.about {
  background-color: @dark-blue;
  color: @basic-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0 0 30px 30px;
  padding-top: 289px;
  padding-bottom: 62px;
  margin-top: -250px;
}

.about__wrapper {
  .wrapper(69%);
}

.about__text {
  padding-right: 10px;
  margin-bottom: 20px;

  &--bold {
    font-weight: bold;
  }
}
