.about {
  background-color: @dark-blue;
  color: @basic-white;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  border-radius: 0 0 30px 30px;
}

.about__text {
  &--bold {
    font-weight: bold;
  }
}
