.card {
  background-color: @basic-white;
  border-radius: 20px;

  &--show-more {
    background-color: transparent;
  }
}

.card__name {
  font-weight: bold;
  font-size: 20px;
  color: @basic-blue-light;
}

.card__like-button {
  .main-font;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: @basic-blue;
  cursor: pointer;
}

.card__tags {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: @special_grey;
}

.card__countries-title {
  font-weight: normal;
  font-size: 15px;
  color: @special_grey;
}

.card__countries-list {
  .reset-list;
  font-weight: 500;
  font-size: 15px;
  color: @basic-blue-light;
  text-transform: uppercase;
}

.card__icons-list {
  .reset-list;
}

.card__button {
  color: @basic-blue;
  text-transform: uppercase;

  &--show-more {
    background-color: transparent;
    color: @basic-blue-light;
  }
}
