.card {
  background-color: @basic-white;
  border-radius: 20px;
  padding-top: 14px;
  padding-bottom: 24px;
  position: relative;
  z-index: 1;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.16);
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    height: 285px;
  }

  &--show-more {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;

    @media (min-width: @desktop-width) {
      height: auto;
      margin-top: 18px;
      margin-bottom: 27px;
    }

    &::before,
    &::after {
      display: none;
    }

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 154px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: @lightest-blue;
    z-index: -1;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &::after {
    top: auto;
    bottom: 142px;

    @media (min-width: @tablet-width) {
      display: block;
      bottom: 77px;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}

.card__wrapper {
  .wrapper(84%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);

  @media (min-width: @tablet-width) {
    .wrapper(93%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    padding-top: 20px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
}

.card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;
  margin: 0;
  grid-column-start: 2;
  margin-left: -46px;
  display: block;
  width: 100px;
  position: relative;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 30px;
    width: fit-content;
    margin-left: 33px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 47px 20px 0 65px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    right: -44px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: @offline-red;

    @media (min-width: @tablet-width) {
      right: -34px;
      width: 8px;
      height: 8px;
    }
  }

  &--online {
    &::before {
      background-color: @online-green;
    }
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.card__pic-container {
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.card__pic {
  border-radius: 50%;
  margin-left: -4px;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
    margin: 0;
  }
}

.card__like-button {
  .main-font;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: @basic-blue;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: -46px;
  margin-top: -6px;
  width: 80px;
  height: 21px;
  padding: 0;
  text-align: left;
  position: relative;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 41px 0 -10px 0;
    padding-left: 58px;
    width: 130px;
  }

  @media (min-width: @desktop-width) {
    margin: 6px 0 0 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -37px;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: @special-blue-light-3;

    @media (min-width: @tablet-width) {
      width: 50px;
      height: 50px;
      top: -15px;
      left: 2px;
      background-size: 20px 17px;
    }
  }

  &--pressed {
    &::before {
      background-color: @pressed-bt;
    }

    &:hover {
      &::before {
        background-color: @opacity-red;
      }
    }
  }
}

.card__heart {
  position: absolute;
  left: -28px;
  top: 6px;

  @media (min-width: @tablet-width) {
    left: 18px;
    top: 2px;
    width: 20px;
    height: 17px;
  }
}

.card__icon {
  fill: none;
  stroke: fade(@basic-blue, 30%);

  &--liked {
    fill: @basic-red;
    stroke: none;
  }
}

.card__like-button:hover .card__icon {
  stroke: @basic-blue;
}

.card__like-button:active .card__heart {
  opacity: 0.6;
}

.card__like-button--pressed:hover .card__icon {
  stroke: none;
}

.card__like-button--pressed:active .card__heart {
  opacity: 0.3;
}

.card__tags {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: @special_grey;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 8px 0 0 0;
  padding-right: 32px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    line-height: 23px;
    margin: 4px 0 0 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 65px;
    padding-right: 35px;
  }
}

.card__countries {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 12px;

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.card__countries-title {
  font-weight: normal;
  font-size: 15px;
  color: @special_grey;
  margin: 0;
  padding: 0 5px 0 5px;
  background-color: @basic-white;
  width: fit-content;

  &--level {
    text-align: right;
  }

  &--transparent {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.card__countries-list {
  .reset-list;
  font-weight: 500;
  font-size: 15px;
  color: @basic-blue-light;
  text-transform: uppercase;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 20px;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin: 40px 0 0 41px;
  }
}

.card__countries-item {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-right: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.card__countries-text {
  margin: 0;
  padding-left: 43px;
  position: relative;

  @media (min-width: @desktop-width) {
    padding-left: 53px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 3px;
    width: 26px;
    height: 18px;
    background-repeat: no-repeat;
    background-size: 26px 18px;

    @media (min-width: @tablet-width) {
      top: -4px;
      left: -2px;
      width: 35px;
      height: 24px;
      background-size: 35px 24px;
    }
  }

  &--sri-lanka {
    &::before {
      background-image: url("../img/flags/sri-lanka-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/sri-lanka-tablet@2x.png");
      }
    }
  }

  &--thailand {
    &::before {
      background-image: url("../img/flags/thailand-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/thailand-tablet@2x.png");
      }
    }
  }

  &--seychelles {
    &::before {
      background-image: url("../img/flags/seychelles-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/seychelles-tablet@2x.png");
      }
    }
  }

  &--belgium {
    &::before {
      background-image: url("../img/flags/belgium-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/belgium-tablet@2x.png");
      }
    }
  }

  &--czech {
    &::before {
      background-image: url("../img/flags/czech-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/czech-tablet@2x.png");
      }
    }
  }

  &--usa {
    &::before {
      background-image: url("../img/flags/usa-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/usa-tablet@2x.png");
      }
    }
  }

  &--australia {
    &::before {
      background-image: url("../img/flags/australia-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/australia-tablet@2x.png");
      }
    }
  }

  &--dominica {
    &::before {
      background-image: url("../img/flags/dominica-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/dominica-tablet@2x.png");
      }
    }
  }

  &--united-kingdom {
    &::before {
      background-image: url("../img/flags/united-kingdom-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/united-kingdom-tablet@2x.png");
      }
    }
  }

  &--germany {
    &::before {
      background-image: url("../img/flags/germany-tablet.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/flags/germany-tablet@2x.png");
      }
    }
  }
}

.card__icons-list {
  .reset-list;
  display: flex;
  justify-content: space-between;
  margin-top: 18px;
  margin-left: 0;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    margin: 4px 30px 0 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
  }
}

.card__icons-item {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: @lightest-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
    width: 34px;
    height: 24px;
    background-color: transparent;
  }
}

.card__icons-pic {
  width: 63%;
  height: 58%;

  @media (min-width: @tablet-width) {
    width: 100%;
    height: 100%;
  }

  &--opacity {
    opacity: 0.15;
  }
}

.card__level-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    width: 60px;
    height: 60px;
    margin: -31px 0 0 41px;
  }
}

.card__button {
  color: @basic-blue;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 11px;
  padding: 10px 10px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 27px 0 -17px 30px;
    height: 50px;
    width: 149px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: -6px 0 0 55px;
  }

  &--show-more {
    background-color: transparent;
    color: @basic-blue-light;
    margin-top: -10px;
    padding: 10px 29px 10px 58px;
    position: relative;

    @media (min-width: @tablet-width) {
      margin-top: -17px;
      padding: 10px 29px 10px 44px;
      width: auto;
      margin-bottom: 22px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 0;
      margin-left: -41px;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 25px;
      top: 19px;
      width: 18px;
      height: 2px;
      border-radius: 2px;
      background-color: @basic-blue-light;

      @media (min-width: @tablet-width) {
        left: -6px;
        top: 23px;
        width: 24px;
        height: 2px;
      }
    }

    &::after {
      transform: rotate(90deg);
    }

    &:hover {
      background-color: transparent;

      &::before,
      &::after {
        opacity: 0.6;
      }
    }

    &:active {
      background-color: transparent;

      &::before,
      &::after {
        opacity: 0.3;
      }
    }
  }
}

.card__shift {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.card__transport {
  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    margin: 10px 0 0 33px;
  }
}

.card__tooltip {
  position: absolute;
  display: none;
  background-color: @tooltip-back;
  color: @basic-white;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  width: 170px;
  box-sizing: border-box;
  padding: 18px 25px;
  border-radius: 4px;
  z-index: 100;
  text-align: center;
  top: 100%;
  left: 50%;
  margin-left: -86px;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent @tooltip-back transparent;
  }
}

.card__icons-item:hover .card__tooltip {
  display: block;
}
