.card {
  background-color: @basic-white;
  border-radius: 20px;
  padding-top: 14px;
  padding-bottom: 24px;

  @media (min-width: @tablet-width) {
    padding-bottom: 16px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    height: 285px;
  }

  &--show-more {
    background-color: transparent;
    display: flex;
    justify-content: center;
    padding-bottom: 12px;

    @media (min-width: @desktop-width) {
      height: auto;
      margin-top: 18px;
      margin-bottom: 27px;
    }
  }
}

.card__wrapper {
  .wrapper(84%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, auto);

  @media (min-width: @tablet-width) {
    .wrapper(93%);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    padding-top: 20px;
    padding-left: 32px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }
}

.card__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: @basic-blue-light;
  margin: 0;
  grid-column-start: 2;
  margin-left: -31px;
  display: block;
  width: 100px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 30px;
    width: auto;
    margin-left: 33px;
    margin-top: 2px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 47px 20px 0 65px;
  }
}

.card__pic-container {
  grid-row-start: 1;
  grid-row-end: 3;

  @media (min-width: @tablet-width) {
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.card__pic {
  border-radius: 50%;
  margin-left: -4px;

  @media (min-width: @tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
    margin: 0;
  }
}

.card__like-button {
  .main-font;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 14px;
  color: @basic-blue;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: -31px;
  margin-top: -6px;
  width: 80px;
  height: 21px;
  padding: 0;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    margin: 41px 0 -10px 0;
    padding-left: 58px;
    width: 130px;
  }

  @media (min-width: @desktop-width) {
    margin: 6px 0 0 0;
  }
}

.card__tags {
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: @special_grey;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 8px 0 0 0;
  padding-right: 32px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 20px;
    line-height: 23px;
    margin: 4px 0 0 37px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 0 65px;
    padding-right: 35px;
  }
}

.card__countries {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 12px;

  @media (min-width: @desktop-width) {
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}

.card__countries-title {
  font-weight: normal;
  font-size: 15px;
  color: @special_grey;
  margin: 0;
  padding: 0 5px 0 5px;

  &--level {
    text-align: right;
  }

  &--transparent {
    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    margin-left: 40px;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.card__countries-list {
  .reset-list;
  font-weight: 500;
  font-size: 15px;
  color: @basic-blue-light;
  text-transform: uppercase;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 20px;
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin: 40px 0 0 41px;
  }
}

.card__countries-item {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-right: 31px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.card__countries-text {
  margin: 0;
  padding-left: 43px;
}

.card__icons-list {
  .reset-list;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 3px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    align-items: flex-end;
    margin: 4px 38px 0 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
  }
}

.card__icons-item {
  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
  }
}

.card__level-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin-right: 25px;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 5;
    width: 60px;
    height: 60px;
    margin: -31px 0 0 41px;
  }
}

.card__button {
  color: @basic-blue;
  text-transform: uppercase;
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 11px;
  padding: 10px 10px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: 27px 0 -17px 30px;
    height: 50px;
    width: 149px;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin: -6px 0 0 55px;
  }

  &--show-more {
    background-color: transparent;
    color: @basic-blue-light;
    margin-top: -10px;
    padding: 10px 29px 10px 58px;

    @media (min-width: @tablet-width) {
      margin-top: -17px;
      padding: 10px 29px 10px 44px;
      width: auto;
      margin-bottom: 22px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 0;
      margin-left: -41px;
    }
  }
}

.card__shift {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.card__transport {
  @media (min-width: @tablet-width) {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 3;
    margin: 10px 0 0 33px;
  }
}
