.companion {
  background-color: @dark-blue;
  border-radius: 0 0 30px 30px;
  color: @basic-white;
}

.companion__flags-list {
  .reset-list;
}

.companion__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  &--bold {
    font-weight: bold;
  }
}

.companion__list {
  .reset-list;
}

.companion__item {
  background-color: @basic-white;
}

.companion__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @basic-blue-light;
  text-align: center;
}

.companion__tags {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: @special_grey;
}

.companion__icons-list {
  .reset-list;
}
