.companion {
  background-color: @dark-blue;
  border-radius: 0 0 30px 30px;
  color: @basic-white;
  z-index: -2;
  margin-top: -40px;
  padding-top: 86px;
  padding-bottom: 30px;
  background-image: url("../img/smolov-back-mobile.png");
  background-repeat: no-repeat;
  background-size: 143px 143px;
  background-position: top 74px right 25px;
  position: relative;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/smolov-back-mobile@2x.png");
  }

  &::before {
    content: "";
    position: absolute;
    width: 113px;
    height: 132px;
    top: 73px;
    left: 0;
    border-radius: 0 20px 20px 0;
    background-color: @darkest-blue-2;
    z-index: -1;

    @media (min-width: @tablet-width) {
      width: 212px;
      height: 212px;
      border-radius: 20px;
      top: 134px;
      left: 40px;
    }
  }


  @media (min-width: @tablet-width) {
    margin-top: -65px;
    padding-top: 167px;
    padding-bottom: 87px;
    border-radius: 0 0 60px 60px;
    background-image: url("../img/rogovaya-back-tablet.png");
    background-size: 285px 285px;
    background-position: top 144px right 75px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/rogovaya-back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 154px;
    padding-bottom: 126px;
  }
}

.companion__box {
  display: flex;
  flex-direction: column;

  background-image: url("../img/rogovaya-back-mobile.png");
  background-repeat: no-repeat;
  background-size: 64px 71px;
  background-position: top 260px left;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/rogovaya-back-mobile@2x.png");
  }

  @media (min-width: @tablet-width) {
    background-image: url("../img/smolov-back-tablet.png");
    background-size: 143px 143px;
    background-position: top 323px left 39px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/smolov-back-tablet@2x.png");
    }
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    .wrapper(1322px);
    column-gap: 59px;
  }
}

.companion__wrapper {
  .wrapper(69%);

  @media (min-width: @tablet-width) {
    .wrapper(81%);
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin: 0;
  }
}

.companion__flags-list {
  .reset-list;
  display: flex;
  justify-content: center;
  margin-top: -16px;
  column-gap: 21px;
}

.companion__title {
  @media (min-width: @desktop-width) {
    padding-left: 71px;
  }
}

.companion__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 34px;
    margin-top: 55px;
    padding-right: 152px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 71px;
    padding-right: 118px;
  }

  &--bold {
    font-weight: bold;
    margin-top: 21px;

    @media (min-width: @tablet-width) {
      font-size: 21px;
      line-height: 24px;
      margin-top: 40px;
    }
  }
}

.companion__list {
  .reset-list;
  .wrapper(84%);
  margin-top: 40px;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    grid-column-start: 2;
    width: auto;
    margin: 43px 0 0 0;
  }
}

.companion__item {
  background-color: @basic-white;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    flex-basis: 285px;
    border-radius: 25px;
    padding-bottom: 25px;
  }
}

.companion__level {
  position: absolute;
  top: 17px;
  left: 16px;

  @media (min-width: @tablet-width) {
    top: 20px;
    left: 22px;
  }
}

.companion__pic {
  border-radius: 10px 10px 0 0;

  @media (min-width: @tablet-width) {
    width: 285px;
    height: 285px;
    border-radius: 25px 25px 0 0;
  }
}

.companion__name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @basic-blue-light;
  text-align: center;
  margin-top: 9px;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    top: 9px;
    left: 52px;

    @media (min-width: @tablet-width) {
      height: 8px;
      width: 8px;
    }
  }

  &--online {
    &::before {
      background-color: @online-green;
    }
  }


  &--offline {
    &::before {
      background-color: @offline-red;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 22px;
  }
}

.companion__tags {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: @special_grey;
  padding: 0 25px 0 25px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 23px;
    margin-top: 30px;
  }
}

.companion__icons-list {
  .reset-list;
  display: flex;
  justify-content: center;
  column-gap: 13px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-top: 26px;
  }
}

.companion__button {
  .wrapper(84%);
  margin-top: 8px;
  border-radius: 10px;
  text-align: left;
  padding: 21px;
  font-size: 18px;
  position: relative;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    font-size: 24px;
    line-height: 24px;
    margin-top: 70px;
    padding: 29px 33px;
    border-radius: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 280px;
    margin: 17px 0 8px 72px;
    padding: 2px 33px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icons/triangle.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 25px;
    right: 20px;

    @media (min-width: @tablet-width) {
      top: 34px;
      right: 38px;
    }
  }
}

.companion__shift {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}

.companion__icon {
  &--opacity {
    opacity: 0.15;
  }
}
