.country-choice {
  margin-top: -1px;
  position: absolute;
  top: 41px;
  background-color: @basic-white;
  z-index: 1;

  @media (min-width: @tablet-width) {
    width: 104%;
    padding: 35px 0 30px 26px;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);
    top: 67px;
    left: 0;
    display: none;
    border-radius: 5px;
  }

  &--opened {
    display: block;

    @media (min-width: @tablet-width) {
      display: flex;
    }
  }

  &--closed {
    display: none;
  }

  &--catalog {
    position: initial;
    background-color: transparent;
    margin-top: 21px;

    @media (min-width: @tablet-width) {
      padding: 0;
      box-shadow: none;
      display: flex;
      margin-top: 38px;
      margin-left: 8px;
    }

    @media (min-width: @desktop-width) {
      margin-top: 30px;
      margin-left: -335px;
      width: auto;
    }
  }
}

.country-choice__table {
  border-collapse: collapse;

  @media (min-width: @tablet-width) {
    margin-right: 87px;
  }

  &--white {
    background-color: @basic-white;
  }

  &--catalog {
    margin-left: 6px;

    @media (min-width: @tablet-width) {
      background-color: transparent;
      margin: 0;
      margin-right: 52px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
      border-collapse: unset;
      border-spacing: 37px 56px;
    }
  }
}

.country-choice__cell {
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  width: 44px;
  height: 41px;
  padding: 0;
  border: 1px solid @light-grey-2;

  @media (min-width: @tablet-width) {
    width: 52px;
    height: 69px;
  }

  &--active {
    background-color: @basic-blue-light;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      border: none;
      width: 77px;
      height: 83px;
    }

    @media (min-width: @desktop-width) {
      width: 212px;
      height: auto;
      text-align: left;
      vertical-align: top;
    }
  }
}

.country-choice__button {
  .main-font;
  border: none;
  background: transparent;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  color: @basic-blue-light;
  width: 100%;
  height: 100%;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:active {
    color: @basic-white;
    background-color: @basic-blue-light;
  }

  &--catalog {
    @media (min-width: @tablet-width) {
      font-size: 60px;
      font-weight: bold;
      color: fade(@dark-blue, 30%);
      text-align: left;

      &:active {
        background-color: transparent;
        color: @dark-blue;
      }
    }

    @media (min-width: @desktop-width) {
      width: auto;
      height: auto;
    }
  }

  &--active {
    color: @basic-white;
    background-color: @basic-blue-light;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      color: @dark-blue;
      background-color: transparent;
    }
  }
}

.country-choice__cell:hover .country-choice__button {
  border: 1px solid @hover-border;
}

.country-choice__countries-list {
  .reset-list;
  padding: 16px 12px;
  border: 1px solid @border-grey;
  border-radius: 0 0 4px 4px;

  @media (min-width: @tablet-width) {
    padding: 0 12px;
    border: none;
  }

  &--catalog {
    border: none;
    padding: 11px 0;

    @media (min-width: @tablet-width) {
      padding: 14px 0;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  &--table {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
      padding: 0;
      margin-top: 42px;
      margin-left: 0;
    }
  }
}

.country-choice__countries-item {
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    margin-bottom: 8px;
  }

  &--catalog {
    margin-bottom: 1px;

    @media (min-width: @tablet-width) {
      margin-bottom: 8px;
    }
  }
}

.country-choice__country-button {
  background: transparent;
  border: none;
  .main-font;
  font-weight: normal;
  font-size: 16px;
  color: @special_grey;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover {
    color: @basic-blue-light;
  }

  &:active {
    color: fade(@basic-blue-light, 30%);
  }
}
