.direction {
  background-color: @lightest-blue;
  border-radius: 0 0 30px 30px;
  z-index: -1;
  margin-top: -30px;
  padding-top: 79px;
  padding-bottom: 33px;


  @media (min-width: @tablet-width) {
    margin-top: -55px;
    padding-top: 87px;
    padding-bottom: 81px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 181px;
    padding-bottom: 137px;
  }
}

.direction__box {
  display: grid;
  grid-template-rows: repeat(3, auto);

  @media (min-width: @desktop-width) {
    grid-template-rows: auto auto;
    grid-template-columns: max-content auto;
    .wrapper(1322px);
    column-gap: 168px;
  }
}

.direction__wrapper {
  .wrapper(69%);

  @media (min-width: @tablet-width) {
    .wrapper(81%);
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin: 0;
  }
}

.direction__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;
  padding-right: 22px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 33px;
    padding-right: 280px;
    margin-top: 60px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 173px;
  }

  &--opacity {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: @special_grey;
    opacity: 0.3;
    order: 3;
    margin-top: -17px;
    padding-right: 61px;
    margin-bottom: 0;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 20px;
      padding-right: 0;
      margin-top: 0;
      order: 2;
    }
  }
}

.direction__list {
  .reset-list;
  .wrapper(84%);
  display: flex;
  flex-direction: column;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    margin-top: 79px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: -1;
    width: auto;
    margin: 32px 0 0 71px;
  }
}

.direction__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    margin-bottom: 9px;
  }
}

.direction__text-box {
  background-color: @basic-white;
  border-radius: 10px;
  margin-top: -15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  padding-left: 22px;
  padding-right: 24px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    order: 1;
    flex-direction: column;
    flex-grow: 1;
    border-radius: 25px 0 0 25px;
    padding-left: 32px;
    padding-bottom: 3px;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 318px;
  }

  &--czech {
    padding-bottom: 4px;
  }
}

.direction__pic-box {
  @media (min-width: @tablet-width) {
    order: 2;
  }
}

.direction__pic {
  border-radius: 10px;

  @media (min-width: @tablet-width) {
    width: 189px;
    height: 100%;
  }
}


.direction__country-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @basic-black;
  margin-top: 25px;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-top: 28px;
    margin-bottom: 7px;
    order: 1;
  }

  @media (min-width: @desktop-width) {
    margin-top: 27px;
  }
}

.direction__number {
  color: @basic-blue;
  opacity: 0.3;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  width: 42px;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/sub_icon.svg");
    background-repeat: no-repeat;
    width: 11px;
    height: 12px;
    top: 2px;
    left: -18px;
  }


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    order: 3;
    padding-left: 29px;
  }

  &--europa {
    margin-top: 0;

    @media (min-width: @desktop-width) {
      margin-top: 25px;
    }
  }
}

.direction__button {
  .wrapper(84%);
  margin-top: 16px;
  border-radius: 10px;
  text-align: left;
  padding: 21px;
  font-size: 18px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icons/triangle.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 25px;
    right: 20px;
  }

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    font-size: 24px;
    border-radius: 20px;
    margin-top: 33px;
    padding: 28px 35px;
  }

  @media (min-width: @desktop-width) {
    width: 275px;
    margin: 19px 0 0 0;
    padding: 0 35px;
  }
}

.direction__shift {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}
