.direction {
  background-color: @lightest-blue;
  border-radius: 0 0 30px 30px;
}

.direction__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;

  &--opacity {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: @special_grey;
    opacity: 0.3;
  }
}

.direction__list {
  .reset-list;
}

.direction__country-name {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: @basic-black;
}

.direction__number {
  color: @basic-blue;
  opacity: 0.3;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}
