.first-data {
  border: none;
  padding: 0;
  .wrapper(84%);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  margin-top: 24px;
  margin-bottom: 70px;
  column-gap: 17px;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    margin-top: 63px;
    margin-bottom: 49px;
    grid-template-columns: auto auto auto;
    column-gap: 54px;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    .wrapper(1320px);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    padding-bottom: 55px;
  }
}

.first-data__picture {
  border-radius: 50%;

  @media (min-width: @tablet-width) {
    border-radius: 7px;
    width: 94px;
    height: 94px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: -188px;
    right: 97px;
    width: 190px;
    height: 190px;
    z-index: 100;
  }
}

.first-data__photo-button {
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 190px;
    top: -39px;
    right: 96px;
  }
}

.first-data__tags {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 25px;

  @media (min-width: @tablet-width) {
    flex-direction: column-reverse;
    margin-top: 52px;
  }

  @media (min-width: @desktop-width) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 62px;
    text-align: left;
  }
}

.first-data__transport {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 8px;

  @media (min-width: @tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    flex-direction: column-reverse;
    width: 308px;
  }
}

.first-data__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: @basic-blue;
  text-transform: uppercase;
  text-align: center;
  background-color: @special-blue-light;
  border-radius: 20px;
  display: block;
  width: 100%;
  padding: 11px 0;


  @media (min-width: @tablet-width) {
    letter-spacing: 0.09em;
    padding: 20px 0;
    border-radius: 10px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 0 0 10px 10px;
    padding: 15px 0;
  }
}

.first-data__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 27px;
  }
}

.first-data__tags-input {
  background-color: transparent;
  border: none;
  resize: none;
  padding: 18px 24px;
  .main-font;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 22px;
    padding: 35px 45px 7px 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 34px 45px 9px 38px;
    margin-top: 19px;
    width: 648px;
  }
}

.first-data__word {
  @media (min-width: @desktop-width) {
    display: none;
  }
}
