.first-data {
  border: none;
}

.first-data__picture {
  border-radius: 50%;
}

.first-data__label {
  font-weight: 500;
  font-size: 20px;
  line-height: 18px;
  color: @basic-blue;
  text-transform: uppercase;
  text-align: center;
  background-color: @special-blue-light;
  border-radius: 20px;
}

.first-data__title {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.first-data__tags-input {
  background-color: transparent;
  border: none;
  resize: none;
}
