.form-box {
  background-color: @basic-yellow;
  color: @basic-blue-light;
  border-radius: 20px;
  .wrapper(84%);
  padding-bottom: 22px;


  &--filter-opened {
    margin-top: 76px;
  }

  &--filter-closed {
    margin-top: 21px;
  }
}

.form-box__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
  margin: 25px 20px 23px 24px;
}
