.form-box {
  background-color: @basic-yellow;
  color: @basic-blue-light;
  border-radius: 20px;
}

.form-box__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
