.generating-plan {
  display: flex;
  flex-direction: column;
}

.generating-plan__plan-add {
  background-color: @special-blue-light-2;
  border-radius: 30px 30px 0 0;
  margin-top: -61px;
  padding-top: 25px;
  padding-bottom: 80px;

  @media (min-width: @tablet-width) {
    margin-top: -33px;
    padding-bottom: 150px;
  }

  @media (min-width: @desktop-width) {
    border-radius: 60px 60px 0 0;
  }
}

.generating-plan__title {
  font-weight: bold;
  font-size: 24px;
  .wrapper(84%);
  position: relative;

  &::after {
    content: " ";
    position: absolute;
    top: 14px;
    right: 60px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: @basic-blue-light;
    box-shadow: 20px 0 0 0 fade(@basic-blue-light, 30%),
      40px 0 0 0 fade(@basic-blue-light, 30%);

    @media (min-width: @tablet-width) {
      top: 21px;
      right: 70px;
      width: 6px;
      height: 6px;
      box-shadow: 35px 0 0 0 fade(@basic-blue-light, 30%),
        70px 0 0 0 fade(@basic-blue-light, 30%);
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 36px;
    .wrapper(81%);
    margin-top: 21px;
    margin-bottom: 57px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1185px);
    margin-top: 21px;
    margin-bottom: 55px;
  }
}

.generating-plan__box {
  background-color: @basic-white;
  border-radius: 10px;
  border: none;
  padding: 0;
  .wrapper(84%);
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    border-radius: 30px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1320px);
    border-radius: 60px;
  }
}

.generating-plan__step-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.generating-plan__button-box {
  .wrapper(82%);
  display: flex;
  flex-direction: column;


  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    .wrapper(86%);
    margin-top: 35px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1000px);
    margin-top: 42px;
  }

  &--send {
    @media (min-width: @tablet-width) {
      width: 100%;
      margin: 18px 0 0 0;
    }

    @media (min-width: @desktop-width) {
      width: 1000px;
      margin: 37px 0 0 0;
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }
}

.generating-plan__button {
  text-transform: uppercase;
  padding: 10px;

  @media (min-width: @tablet-width) {
    width: 286px;
    margin: 0;
    padding: 28px 33px;
    text-align: left;
    text-transform: none;
    border-radius: 20px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/icons/triangle.svg");
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      top: 34px;
      right: 30px;
    }
  }

  &--back {
    background-color: transparent;
    margin-top: 6px;

    &:hover {
      background-color: transparent;
      color: fade(@basic-blue-light, 70%);

      &::after {
        opacity: 0.7;
      }
    }

    &:active {
      background-color: transparent;
      color: fade(@basic-blue-light, 30%);

      &::after {
        opacity: 0.3;
      }
    }

    @media (min-width: @tablet-width) {
      width: 200px;
      padding: 0;
      text-align: right;
      margin-top: 0;

      &::after {
        right: 170px;
        transform: scale(-1, 1);
      }
    }
  }

  &--width {
    width: 100%;

    @media (min-width: @tablet-width) {
      width: 286px;
    }
  }
}

.generating-plan__shift {
  display: block;

  @media (min-width: @desktop-width) {
    display: none;
  }
}


.generating-plan__pagination-list {
  display: none;

  @media (min-width: @desktop-width) {
    .reset-list;
    display: block;
    font-size: 20px;
    line-height: 24px;
    color: fade(@basic-black, 60%);
    text-transform: uppercase;
    letter-spacing: 0.11em;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    margin-left: auto;
    margin-right: 45px;
    margin-top: 7px;
  }
}

.generating-plan__pagination-item {
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -43px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: fade(@basic-blue-light, 30%);
  }

  &--current {
    color: @basic-black;

    &::before {
      background-color: @basic-blue-light;
    }
  }
}
