.level-circle {
  //background-color: fade(@basic-black, 60%);
  //color: @basic-white;
  //border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;

  &--transparent {
    //background-color: transparent;
    //color: @basic-blue;
    width: 100px;
    height: 100px;
    margin-left: 17px;
    margin-top: 10px;
    position: relative;

    @media (min-width: @tablet-width) {
      margin-left: 0;
    }

    @media (min-width: @desktop-width) {
      position: absolute;
      top: -150px;
      right: 330px;
    }
  }
}

.level-circle__text {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
  position: relative;
  z-index: 2;

  &--number {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    margin-top: 13px;
  }

  &--big-number {
    font-size: 38px;
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      margin-bottom: 13px;
      margin-top: 16px;
    }

    @media (min-width: @desktop-width) {
      color: @basic-white;
    }
  }

  &--big-text {
    font-size: 18px;
    color: @special_grey;

    @media (min-width: @desktop-width) {
      color: @basic-white;
    }
  }

  &--catalog {
    display: none;

    @media (min-width: @tablet-width) {
      display: inline;
      font-size: 14px;
      color: fade(@basic-black, 40%);
      margin-left: 13px;
    }
  }

  &--number-catalog {
    text-align: right;
    margin: 23px 9px 0 0;

    @media (min-width: @tablet-width) {
      margin: 33px 9px 0 0;
    }
  }
}

.level-circle__pic {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  z-index: 1;
  transform: rotate(-85deg);

  &--transparent {
    left: -3px;
    top: -12px;
    width: 105px;
    height: 105px;
    transform: rotate(-88deg);
  }

  &--catalog {
    left: auto;
    top: 22px;
    right: -7px;

    @media (min-width: @tablet-width) {
      width: 65px;
      height: 65px;
      top: 19px;
      right: -9px;
    }
  }
}

.level-circle__ellipse {
  fill: fade(@basic-black, 60%);
  stroke: @dark-orange;
  stroke-width: 4px;
  stroke-linecap: round;
  stroke-dasharray: 166;

  &--transparent {
    r: 48px;
    stroke-dasharray: 247;
    fill: transparent;

    @media (min-width: @tablet-width) {
      r: 46px;
      stroke-dasharray: 236;
    }
  }

  &--eighty {
    stroke-dasharray: 138;
  }

  &--catalog {
    fill: transparent;
    r: 21px;
    stroke-dasharray: 127;

    @media (min-width: @tablet-width) {
      r: 30px;
      stroke-dasharray: 185;
    }
  }

  &--80 {
    stroke-dasharray: 100;

    @media (min-width: @tablet-width) {
      stroke-dasharray: 151;
    }
  }

  &--25 {
    stroke-dasharray: 33 110;

    @media (min-width: @tablet-width) {
      stroke-dasharray: 47 143;
    }
  }

  &--50 {
    stroke-dasharray: 65;

    @media (min-width: @tablet-width) {
      stroke-dasharray: 92;
    }
  }
}
