.main-nav {
  .wrapper(85%);
  text-align: center;
  margin-top: 27px;
  padding-bottom: 30px;
}

.main-nav__logo-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-nav__list {
  .reset-list;
  margin-top: 70px;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: @dark-blue;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.main-nav__contact-list {
  .reset-list;
  text-align: left;
  margin-top: 65px;
}

.main-nav__contact-item {
  margin-bottom: 26px;
}

.main-nav__contact-link {
  text-decoration: none;
  color: @dark-blue;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 62px;
}

.main-nav__social-list {
  .reset-list;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 52px;
}

.main-nav__button {
  text-transform: uppercase;
  width: 100%;
  margin-top: 54px;
  padding: 15px;
}
