.main-nav__list {
  .reset-list;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  text-decoration: none;
  color: @dark-blue;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
}

.main-nav__contact-list {
  .reset-list;
}

.main-nav__contact-link {
  text-decoration: none;
  color: @dark-blue;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-nav__social-list {
  .reset-list;
}
