.partners-filter__list {
  .reset-list;
}

.partners-filter__title {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.partners-filter__check-list {
  .reset-list;
  font-weight: normal;
  font-size: 15px;
  color: @basic-black;
}

.partners-filter__level-list {
  .reset-list;
}

.partners-filter__button {
  .main-font;
  background-color: @basic-white;
  color: @basic-blue;
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
}
