.plans {
  padding-top: 20px;
  padding-bottom: 5px;

  @media (min-width: @tablet-width) {
    padding-top: 44px;
    padding-bottom: 52px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 97px;
    padding-bottom: 102px;
    margin-bottom: 10px;
  }
}

.plans__wrapper {
  .wrapper(82%);
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .wrapper(86%);
  }

  @media (min-width: @desktop-width) {
    .wrapper(1000px);
  }
}

.plans__description {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-top: 36px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 500px;
  }
}

.plans__list {
  .reset-list;
  margin-top: 5px;

  @media (min-width: @tablet-width) {
    margin-top: 13px;
    padding-top: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 34px;
    padding-top: 79px;
  }
}

.plans__item {
  &:not(:last-of-type) {
    margin-bottom: 21px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.plans__name {
  font-weight: 500;
  font-size: 18px;
  padding-left: 11px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 30px;
    padding-left: 0;
    font-weight: bold;
  }
}

.plans__text {
  .main-font;
  resize: none;
  width: 100%;
  height: 220px;
  color: @special_grey;
  border: 1px solid @border-grey;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
  padding: 10px 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
    padding: 19px 39px 19px 20px;
    width: 94%;
    height: 142px;
    margin-bottom: 24px;
  }

  @media (min-width: @tablet-width) {
    width: 730px;
    padding: 25px 11px 19px 20px;
  }
}

.plans__button {
  width: 100%;
  margin-top: 19px;

  @media (min-width: @tablet-width) {
    width: 54%;
    margin-top: 0;
  }

  @media (min-width: @tablet-width) {
    width: 286px;
  }
}
