.registration {
  background-color: @dark-blue;
  color: @basic-white;
  border-radius: 0 0 30px 30px;
  z-index: -4;
  margin-top: -40px;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-top: -60px;
    padding-top: 94px;
    padding-bottom: 39px;
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 126px;
    padding-bottom: 93px;
  }
}

.registration__title {
  text-align: center;

  @media (min-width: @tablet-width) {
    margin-top: 41px;
    margin-bottom: 37px;
  }
}

.registration__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
  .wrapper(68%);
  margin-bottom: 29px;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 32px;
    .wrapper(81%);
    margin-top: 24px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(654px);
    margin-top: 22px;
  }
}

.registration__link {
  color: @basic-yellow;
}

.registration__from {
  .wrapper(84%);
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    .wrapper(81%);
    margin-top: 67px;
    margin-bottom: 34px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1174px);
    margin-top: 61px;
    margin-bottom: 45px;
  }
}

.registration__input {
  .main-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: fade(@special_grey, 90%);
  border: none;
  border-radius: 10px;
  width: auto;
  padding: 21px;
  flex-grow: 1;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    padding: 25px 41px;
    border-radius: 20px;
  }
}

.registration__button {
  position: absolute;
  background-color: @basic-yellow;
  right: 0;
  top: 0;
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 100%;
  font-size: 0;

  &::before {
    content: "";
    position: absolute;
    background-image: url("../img/icons/triangle.svg");
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    top: 25px;
    right: 20px;

    @media (min-width: @tablet-width) {
      top: 32px;
      right: 36px;
    }
  }

  @media (min-width: @tablet-width) {
    border-radius: 20px;
    width: 83px;
  }

  @media (min-width: @desktop-width) {
    .main-font;
    font-weight: bold;
    font-size: 24px;
    color: @basic-blue-light;
    width: 324px;
    text-align: left;
    padding-left: 36px;
    border-radius: 0 20px 20px 0;
  }

  &:hover {
    background-color: @dark-yellow;
  }

  &:active {
    color: fade(@basic-blue, 30%);
  }
}

.registration__list {
  .reset-list;
  .wrapper(84%);

  @media (min-width: @tablet-width) {
    margin-top: 65px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(868px);
    display: flex;
    margin-top: 79px;
  }
}

.registration__contact {
  text-decoration: none;
  color: @basic-yellow;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding-left: 61px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    top: -13px;
    left: 0;
    background-color: @darkest-blue;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: 50%;

    @media (min-width: @tablet-width) {
      width: 68px;
      height: 68px;
      top: -21px;
      left: 13px;
    }

    @media (min-width: @tablet-width) {
      width: 90px;
      height: 90px;
      top: -32px;
      left: -1px;
    }
  }

  &--phone {
    &::before {
      background-image: url("../img/icons/telphone_icon.svg");

      @media (min-width: @tablet-width) {
        background-size: 24px 23px;
      }

      @media (min-width: @desktop-width) {
        background-size: 31px 30px;
      }
    }
  }

  &--mail {
    &::before {
      background-image: url("../img/icons/mail_icon.svg");

      @media (min-width: @tablet-width) {
        background-size: 28px 19px;
      }

      @media (min-width: @desktop-width) {
        background-size: 37px 25px;
        left: 112px;
      }
    }

    @media (min-width: @desktop-width) {
      padding-left: 229px;
    }
  }


  @media (min-width: @tablet-width) {
    font-size: 28px;
    padding-left: 103px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 122px;
  }
}

.registration__item {
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 43px;
  }
}

.registration__shift {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
