.registration {
  background-color: @dark-blue;
  color: @basic-white;
  border-radius: 0 0 30px 30px;
}

.registration__title {
  text-align: center;
}

.registration__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.01em;
}

.registration__link {
  color: @basic-yellow;
}

.registration__from {
  text-align: center;
}

.registration__input {
  .main-font;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: fade(@special_grey, 90%);
  border: none;
  border-radius: 10px;
}

.registration__list {
  .reset-list;
}

.registration__contact {
  text-decoration: none;
  color: @basic-yellow;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}
