.route__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;
}

.route__list {
  .reset-list;
}

.route__countries,
.route__choose-button {
  .main-font;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.09em;
  color: @basic-blue-light;
  border: 1px solid @border-grey;
  border-radius: 4px;
  background-color: transparent;
  padding: 11px 10px;
  box-sizing: border-box;
}

.route__option {
  padding: 0;
}

.route__add-button {
  .main-font;
  background-color: @lightest-blue;
  color: @basic-blue-light;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 4px;
}
