.social__list {
  .reset-list;
  display: flex;
  justify-content: center;
  margin-top: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: -41px;
  }
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: @basic-yellow;
  border-radius: 50%;
  box-sizing: border-box;
  width: 45px;
  height: 45px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    width: 62px;
    height: 62px;
  }

  &:hover {
    background-color: @dark-yellow;
  }
}

.social__link:active .social__svg {
  opacity: 0.3;
}

.social__svg {
  @media (min-width: @tablet-width) {
    &--fb {
      width: 14px;
      height: 26px;
    }

    &--instagram {
      width: 22px;
      height: 22px;
    }

    &--vk {
      width: 27px;
      height: 18px;
    }
  }
}
