.stay-dates__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;
}

.stay-dates__list {
  .reset-list;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.stay-dates__name {
  text-align: justify;

  &--opacity {
    opacity: 0.3;
  }
}

.stay-dates__data {
  .main-font;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: @basic-blue-light;
  text-align: center;
  border: none;
}

.stay-dates__child-label {
  font-size: 15px;
}

.stay-dates__choose-month {
  font-weight: bold;
  font-size: 20px;
}
