.stay-dates {
  margin-top: 29px;
  padding-top: 24px;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    padding-bottom: 57px;
    margin-bottom: 38px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 105px;
    margin-bottom: 46px;
  }
}

.stay-dates__wrapper {
  .wrapper(82%);
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    .wrapper(86%);
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1004px);
    padding-top: 74px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

//.stay-dates__title {
//  @media (min-width: @desktop-width) {
//    grid-row-start: 1;
//    grid-column-start: 1;
//  }
//}

.stay-dates__text {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: @special_grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    font-weight: normal;
    margin-top: 38px;
    padding-right: 10px;
  }

  @media (min-width: @desktop-width) {
    width: 589px;
    grid-column-start: 1;
    grid-column-end: 2;
  }
}

.stay-dates__list {
  .reset-list;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  margin-bottom: 7px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 18px;
    margin-top: 19px;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    margin-top: 29px;
    letter-spacing: normal;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 0;
    grid-column-start: 1;
    grid-column-end: -1;
    padding-top: 34px;
    border-top: 1px solid @border-grey;
  }
}

.stay-dates__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //flex-direction: column;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    padding-bottom: 20px;
    padding-top: 24px;
    border-top: 1px solid @border-grey;
  }

  @media (min-width: @desktop-width) {
    border-top: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 13px;
  }

  &--companion {
    @media (min-width: @tablet-width) {
      order: 1;
      margin-bottom: 4px;
    }
  }

  &--time {
    @media (min-width: @tablet-width) {
      order: 3;
    }
  }

  &--child {
    @media (min-width: @tablet-width) {
      order: 2;
      border-top: none;
      padding-top: 0;
    }

    @media (min-width: @desktop-width) {
      text-align: right;
      display: block;
    }
  }
}

.stay-dates__name {
  @media (min-width: @desktop-width) {
    width: 164px;
  }

  &--opacity {
    opacity: 0.3;
    margin: 0;

    @media (min-width: @desktop-width) {
      order: 3;
    }
  }
}

.stay-dates__data {
  .main-font;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: @basic-blue-light;
  text-align: center;
  border: 1px solid @border-grey;
  border-radius: 4px;
  margin-top: 9px;
  padding: 12px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-top: 25px;
    padding: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 128px;
    margin-top: 0;
    margin-left: 59px;
    margin-right: 34px;
  }
}

.stay-dates__child {
  margin-top: 9px;

  @media (min-width: @desktop-width) {
    margin-top: 25px;
  }
}

.stay-dates__child-label {
  font-size: 15px;
  padding-left: 39px;
  text-transform: none;
  letter-spacing: normal;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 26px;
    height: 26px;
    border: 1px solid @border-grey;
    border-radius: 4px;

    @media (min-width: @tablet-width) {
      width: 36px;
      height: 36px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 56px;
  }
}

.stay-dates__child-input:checked + .stay-dates__child-label&::before {
  background-image: url("../img/icons/check.svg");
  background-repeat: no-repeat;
  background-position: 50%;

  @media (min-width: @tablet-width) {
    background-size: 18px 17px;
  }
}

.stay-dates__month {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  border-bottom: 1px solid @border-grey;
  border-top: 1px solid @border-grey;
  padding: 10px 0;
  margin-bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 17px;
    padding: 21px 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 0;
    margin-bottom: 10px;
    padding: 21px 0;
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.stay-dates__choose-month {
  font-weight: bold;
  font-size: 20px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.stay-dates__calendar {
  margin-bottom: 21px;

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
}

.stay-dates__button {
  position: absolute;
  top: 50px;
  background: transparent;
  border: none;
  width: 14px;
  height: 14px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 14px;
    height: 2px;
    background-color: @basic-grey;

    @media (min-width: @tablet-width) {
      width: 20px;
    }
  }

  @media (min-width: @tablet-width) {
    top: 101px;
  }

  @media (min-width: @desktop-width) {
    top: 33px;
  }

  &--less {
    left: 0;
    margin-left: 14px;

    @media (min-width: @tablet-width) {
      margin-left: 21px;
    }

    @media (min-width: @desktop-width) {
      left: 226px;
    }
  }


  &--more {
    right: 0;
    margin-right: 14px;

    &::before {
      transform: rotate(90deg);
    }

    @media (min-width: @tablet-width) {
      margin-right: 29px;
    }

    @media (min-width: @desktop-width) {
      right: 287px;
      margin-right: 15px;
    }
  }
}

.stay-dates__month-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;

  &--next {
    transform: scale(-1, 1);
  }
}

.stay-dates__svg {
  @media (min-width: @tablet-width) {
    width: 30px;
    height: 36px;
  }
}
