.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.page {
  .main-font;
  height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;

  &--background {
    background-color: @lightest-blue;
  }
}

.page__body {
  margin: 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  z-index: -100;
}

.page-main {
  display: grid;
  grid-template-rows: repeat(7, auto);
  z-index: -99;

  &--catalog {
    position: relative;
  }
}

.page-main__title-box {
  background-color: @dark-blue-2;
  border-radius: 0 0 20px 20px;
  z-index: 100;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 60px 60px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 119px;
    padding-bottom: 80px;
  }
}

.page-main__catalog-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    .wrapper(1320px);
    justify-content: space-between;
  }
}

.page-main__title {
  color: @dark-orange;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  .wrapper(100%);
  margin-top: 19px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin-top: 36px;
  }

  &--white {
    font-weight: bold;
    font-size: 36px;
    color: @basic-white;
    width: 84%;
    margin-top: 27px;

    @media (min-width: @tablet-width) {
      font-size: 60px;
      margin-bottom: 79px;
      margin-top: 71px;
      margin-left: 75px;
    }

    @media (min-width: @desktop-width) {
      .wrapper(1320px);
      padding-left: 124px;
    }
  }

  &--catalog {
    @media (min-width: @desktop-width) {
      width: auto;
      margin: 0;
      padding-left: 69px;
    }
  }
}

.page-main__return-link {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    .main-font;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: @basic-white;
    text-decoration: none;
    text-transform: uppercase;
    flex-basis: 366px;
  }

  @media (min-width: @desktop-width) {
    flex-basis: auto;
    padding-right: 123px;
    margin-top: 8px;
  }
}

.page-main__container {
  @media (min-width: @desktop-width) {
    .wrapper(1320px);
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 51px;
  }
}
